@model ITLABlogger.DTO.PublicacionesDTO

@{
    ViewData["Title"] = "Edición Publicación";
}

<h1>Editar Publicación</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idpublicacion" />

            <div class="form-group">
                <label asp-for="TituloPublicacion" class="control-label">Título:</label>
                <input asp-for="TituloPublicacion" class="form-control" />
                <span asp-validation-for="TituloPublicacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContPublicacion" class="control-label">Contenido:</label>
                <input asp-for="ContPublicacion" class="form-control" />
                <span asp-validation-for="ContPublicacion" class="text-danger"></span>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="col">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    <a asp-action="Index">Volver a Listado</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}